* {
    margin: 0;
    padding: 0;
  }
  
  ul{
    list-style-type: none;
  }

  hr{
    width: 50%;
    margin: auto;
  }

  .iconify{
    width: 30px;
    height: 30px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .container div {
    
    font-family: Helvetica;
    font-weight: bold;
  }

  .container > div:not(.header) {
    padding: 15px;
  }
  
  .header {
    grid-column: 2 / 3;
    grid-template-columns: 1fr 2fr;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 24px;
    padding: 10px 15px 10px 15px;
    margin-left: 15px;
  }

  .bar{
    display: flex;
    gap: 200px;
    padding: 0px;
  }

  .buttons button{
    background-color: #1892d3;
    color: white;
    border: 0px;
    border-radius: 48px;
    padding: 15px 40px 15px 40px;
    margin: 8px;
    font-weight: bold;
  }

  .search-bar, .account{
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 8px;
  }

  .account{
    gap: 30px;
  }

  .search-bar input{
    padding: 8px 18px 8px 18px;
    border-radius: 128px;
    background-color: #e1e8f0;
    border: 0px;
    width: auto;
  }

  .logo img, .account img{
    max-width: 48px;
    max-height: 48px;
  }

  .dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .sidebar {
    grid-row: 1 / 4;

    background-color: #1892d3;
  }

  .sidebar div{
    padding: 15px;
  }
  
  .sidebar .photo {
    color: white;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  .photo{
    display: flex;
    gap: 18px;
  }
  
  .sidebar .side-content {
    color: white;
    font-size: 16px;
    font-weight: normal;
  }

  .side-icon{
    display: flex;
    gap: 16px;
    color: white;
    align-items: center;
  }
  
  .article {
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #dae0e9;
  }

  .article div:not(.trendingcard){
    padding: 15px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }

  .projects{
    grid-row: 1 / 3;
  }

  .announcement .card p{
    text-align: left;
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
  }

  .articlecard{
    position: relative;  
    border-left: 8px solid #efb527;
    border-radius: 8px;
  }
  
  .trending{
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }

  .trendingcard{
    display: flex;
    
    padding: 0px 15px 0px 15px;
    align-items: center;
    justify-content: start;
  }

  .trendingcard p {
    text-align: right;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

  .card-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .footer {
    grid-column: 1 / 3 ;
    background-color: #393f4d;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;
    color: white;
    text-align: center;
  }